<html lang="en">
  <head
    style="
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
    "
  >
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      p, h1, h2, h3, h4, h5, h6 { margin: 0; }
    </style>
    <title>Resume</title>
    <!-- font-family: 'Comic Neue', cursive;
    font-family: 'PT Sans', sans-serif; -->
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      width: 1000px;
      height: 100vh;
      box-sizing: border-box;
    "
  >
    <div style="width: 100%; padding: 20px">
      <!-- NAME AND CONTACT WRAPPER  -->
      <div style="display: flex; align-items: center">
        <!-- NAME AND ADDRESS  -->
        <div>
          <div style="padding: 5px">
            <h3
              style="
                font-family: 'Comic Neue', cursive;
                font-size: 40px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.96px;
                text-align: left;
                color: #000;
              "
            >
              Shrey Patel
            </h3>
            <p
              style="
                font-family: 'PT Sans', sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: 0.54px;
                text-align: left;
                color: #000;
              "
            >
              A-21, Shantiniketan Row House, Anand Mahal Road, Adajan,
              <br />
              Surat - Gujarat - 395009
            </p>
          </div>
        </div>
        <!-- CONTACT DETAILS -->
        <div style="margin-left: auto">
          <div style="display: flex; align-items: center">
            <div style="padding: 5px">
              <a
                href="https://google.com"
                target="_blank"
                style="
                font-family: 'PT Sans', sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: 0.54px;
                text-align: left;
                color: #000;
              "
              >
                shreynpatel23@gmail.com
              </a>
            </div>
            <div style="padding: 5px"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>